* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    position: absolute;
    background: transparent;
    width: 100%;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.logo-header {
    margin-left: 100px;
}

.info-header {
    margin-right: 100px;
    display: flex;
    align-items: center;
    color: #ccc;
}
.info-header i{
    margin-left: 20px;
}

.info-header p {
    padding-left: 5px;
}

.bar-menu {
    width: 100%;
    min-height: 100px;
    background-color: #34495e;
    display: flex;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.menu li a {
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    color: #ccc;
}

.menu li a:hover {
    background-color: #2e5d8b;
    color: #fff;
}

.header-social {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.header-social-list {
    display: flex;
    justify-content: center;
}

.header-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.header-social-list a{
    color: #ccc;
}

.fa-facebook:hover{
    color: #0f91f3;
}
.fa-twitter:hover{
    color: #38c1f7
}

.fa-instagram:hover{
    color: rgb(252, 61, 92);
}

.fa-youtube:hover{
    color: rgb(255, 0, 0);
}

.fa-linkedin:hover{
    color: rgb(22, 22, 240);
}

.fa-github:hover{
    color: rgb(0, 0, 0);
}

.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
}